body {
    display: flex;
    justify-content: center;
    background-color:rgb(220, 255, 250);
}
main {
    font-family: 'Lato';
    max-width: 800px;
}

.flex {
    display: flex;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
    align-content: normal;
}

h1 {
    display: flex;
    justify-content: center;
    color: #1aa1f0;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.h50 {
    height: 50%;
}

.w40 {
    width: 40%;
}

.h40 {
    height: 40%;
}

.w75 {
    width: 75%;
}

.w85 {
    width: 85%;
}

.w8 {
    width: 8%;
    cursor: pointer;
    transition: 0.1s;
}

.w8:hover {
    filter: brightness(0.75);
}

.w8:active {
    transform: scale(0.95);
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

/*.bloqueado{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
}*/
#white {
    background-color: white;
    border: 1px solid black;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#violet {
    background-color: violet
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#cyan {
    background-color: cyan;
}

.grey {
    background-color: #BABABA;
}

/*  */


.subtitulo {
    color: #1aa1f0;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cel {
    height: 82px;
    z-index: 1;
    width: 90%;
    font-weight: bold;
    position: relative;
    margin: 5px auto;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 2.25em;
    align-items: center;
}

.celUserCombi {
    height: 82px;
    z-index: 1;
    width: 90%;
    font-weight: bold;
    position: relative;
    margin: 5px auto;
    background-color: #BABABA;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 2.25em;
    align-items: center;
    border: 1px solid #BABABA;
}

.cercleResult {
    height: 30px;
    z-index: 1;
    width: 30px;
    position: relative;
    margin: 2px auto;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid grey;
}

.comprobar {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.comprobar,
.info {
    border: 1px solid #1aa1f0;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 15px;
}

.comprobar *,
.info * {
    margin: 10px;
}

.info {
    border-color: crimson;
    background-color: crimson;
    color: white;
}

label {
    color: #1aa1f0;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    width: 40%;
    border: none;
    margin-bottom: 15px;
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 2px solid #1aa1f0;
    outline: none;
    border-radius: 5px 5px 0 0;
}

input:focus,
input:hover {
    background-color: #BABABA;
}

#check {
    padding: 15px;
    background-color: #1aa1f0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.17em;
    margin-bottom: 10px;
    transition: 0.3s;
}

#check:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#check:active {
    transform: scale(0.98);
}

#combiUsr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 0.7em;
    height: 0.5em;
}

.infoCombiUsr {
    height: 35px;
    width: 35px;
    border-radius: 25px;
}

#sectionInfo {
    display: flex;
}

#infoDiv {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

#info {
    background-color: #1aa1f0;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0.5em;
    height: auto;
    width: auto;
    border: 2px solid #318aac;
}

#infoPista {
    background-color: #1aa1f0;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0.5em;
    height: auto;
    width: auto;
    transition: 0.1s;
    border: 2px solid #318aac;
}

#infoPista:hover {
    background-color: #2fabf3;
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0px 0px 15px #fff;
}


#infoPista:active {
    transform: scale(0.95);
}

.infoMaxPistas {
    color: white;
    width: auto;
}


#continue {
    background-color: #1aa1f0;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0.5em;
    height: auto;
    width: auto;
    border: 2px solid #318aac;
    transition: 0.1s;
    color: white;
}

#continue:hover {
    background-color: #2fabf3;
    cursor: pointer;
    transform: scale(1.05);
    
}


/*Colors*/
div.white {
    background-color: white;
}

div.blue {
    background-color: blue;
}

div.green {
    background-color: green;
}

div.violet {
    background-color: violet
}

div.yellow {
    background-color: yellow;
}

div.red {
    background-color: red;
}

div.orange {
    background-color: orange;
}

div.cyan {
    background-color: cyan;
}